@media(min-width:801px){

    /*
    .container-fluid{
        /*background-image: url("../img/prueba.jpg");
    }*/
    .container-fluid{
        overflow-y: hidden;
    }


    .navbar{
        font-size: 25px;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row-reverse!important;
    }

    .navbar .navbar-brand{
        font-size: 35px;
    }

    .center {
        margin: auto;
        padding: 170px 0;
        width: 75%;
        text-align: center;
    }
    
    .imgcenter{
        margin-left: auto;
        margin-right: auto;
        height: 100%; 
        width:100%;
    }
    
    #footer {
        text-align: center;
        position: fixed; 
        bottom: 0;
        width: 100%;
    }
    .text-main{
        font-size: 20px;
    }

    #botongo{
        margin-top: 20px;
        border-radius: 50px;
        font-size: 35px;
        transition: 0.7s;
    }

    #botongo:hover{
        transform: scale(1.7);
        background-color: white;
        color: black;
        border-radius: 5px;
        transition: 0.7s;
    }

    .menucenter {
        height: 90vh;
        padding: 100px 100px 100px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .element:hover {
        opacity: 0.5; 
        cursor: pointer;
    }

    .textoimagencentrada{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        background-color: black;
        color: white;
        font-size: 25px;   
    }

    /* tema menu de 3 */
    #card-boostrap:hover{
        background-color: darkgray;
        cursor: pointer;
        transform:  scale(1.1);
    }


    /* section about*/
    .card input, textarea{
        width: 60%;
    }

    .card input, select{
        height: 30px;
    }

    .card input, select, textarea{
        border-color: cornflowerblue;
        border-style: none;
    }

    .card select{
        width: 60%;
    }

    .card textarea{
        min-height: 100px;
        max-height: 300px;
    }

    .card p{
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .centerabout {
        margin: auto;
        padding: 50px 0;
        width: 75%;
        text-align: center;
    }

    .tituloabout{
        text-align: center;
        padding-top: 20px;
    }

    /* pantalla preguntes*/
    .divpreguntes{
        text-align: center!important;
    }

    .textopregunta{
        padding: 40px;
        font-size: 40px;
    }

    #divrespostes{
        padding: 20px;
        text-align: center;
    }

    .resposta{
        border-color: black;
        border-style: solid;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top:15px;
        margin-bottom: 15px;
        border-radius: 15px;
        cursor: pointer;
    }

    .resposta:hover{
        background-color: grey;
        color: white;
    }
    
    /*PROBES RADIO BUTTONS*/
    /*perque es vegin grans i contorno blanc )*/
    .checkbox-budget:checked + label,
    .checkbox-budget:not(:checked) + label{
        position: relative;
        display: inline-block;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 360px;
        font-size: 52px;
        line-height: 52px;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        text-transform: uppercase;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; 
        -webkit-text-stroke: 1px var(--white);
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

    /*quan esta check no te contorno negre 
    tema de quan esta check*/
    .checkbox-budget:not(:checked) + label{
        background-color: var(--dark-light);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    .checkbox-budget:checked + label{
        background-color: transparent;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .checkbox-budget:not(:checked) + label:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }


    /* color de fondo de las cartas (color naranja gradient*/
    .checkbox-budget:checked + label::before,
    .checkbox-budget:not(:checked) + label::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-image: linear-gradient(138deg, var(--red), var(--yellow));
        z-index: -1;
    }

    /* tema de transicion de letras que pasan
    a blanco */
    .checkbox-budget:checked + label span::before,
    .checkbox-budget:not(:checked) + label span::before{
        position: absolute;
        content: attr(data-hover);
        top: 1;
        left: 0;
        width: 100%;
        overflow: hidden;
        -webkit-text-stroke: transparent;
        -webkit-text-fill-color: var(--white);
        color: var(--white);
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        transition: max-height 0.3s;
    }

    /* para que solo se vea las letras blancas
    en el radio seleccionado*/
    .checkbox-budget:not(:checked) + label span::before{
        max-height: 0;
    }

    /*efecto de aparecer las letras blancas*/
    .checkbox-budget:checked + label span::before{
        max-height: 100%;
    }

    /* para que no se muestren las redondas del
    radio button */
    [type="radio"]:checked,
    [type="radio"]:not(:checked){
        position: absolute;
        left: -9999px;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    
}


@media(max-width: 800px){

    /*
    .container-fluid{
        background-image: url("../img/prueba.jpg");
    }
    */

    .center {
        margin: auto;
        padding: 10px;
        width: 75%;
        text-align: center;
    }

    .imgcenter{
        margin-left: auto;
        margin-right: auto;
        height: 100%; 
        width:100%;
    }

    .text-main{
        font-size: 13px;
    }

    .container{
        margin-bottom: 20px;
    }

    #footer {
        text-align: center;
        width: 100%;
    }

    .text-main h2{
        font-size: 17px;
    }

    .textoimagencentrada{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right:10px ;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color: black;
        color: white;  
    }

    .element{
        padding: 10px;
    }

    .card input, textarea{
        width: 100%;
    }

    .card input, select{
        height: 30px;
    }

    .card input, select, textarea{
        border-color: cornflowerblue;
        border-style: none;
    }

    .card select{
        width: 100%;
    }

    .card textarea{
        min-height: 100px;
        max-height: 300px;
    }

    .card p{
        margin-bottom: 0;
        padding-top: 10px;
    }

    .card-img-top{
        height: 100%;
    }

    .card-deck .card{
        padding: 5px;
        margin-bottom: 60px!important;
        height: 125px;
    }

    .card-deck .card-body{
        padding-top: 10px!important;
    }

    .row{
        margin-right: 0!important;
        margin-left: 0!important;
    }

}