@media(min-width:801px){

    /*
    .container-fluid{
        /*background-image: url("../img/prueba.jpg");
    }*/
    .container-fluid{
        overflow-y: hidden;
    }


    .navbar{
        font-size: 25px;
    }

    .navbar .navbar-brand{
        font-size: 35px;
    }

    .center {
        margin: auto;
        padding: 170px 0;
        width: 75%;
        text-align: center;
    }
    
    .imgcenter{
        margin-left: auto;
        margin-right: auto;
        height: 100%; 
        width:100%;
    }
    
    #footer {
        text-align: center;
        /*position: fixed; */
        bottom: 0;
        width: 100%;
    }
    .text-main{
        font-size: 20px;
    }

    #botongo{
        margin-top: 20px;
        border-radius: 50px;
        font-size: 35px;
        transition: 0.7s;
    }

    #botongo:hover{
        transform: scale(1.7);
        background-color: white;
        color: black;
        border-radius: 5px;
        transition: 0.7s;
    }

    .menucenter {
        height: 90vh;
        padding: 100px 100px 100px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .element:hover {
        opacity: 0.5; 
        cursor: pointer;
    }

    .textoimagencentrada{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        background-color: black;
        color: white;
        font-size: 25px;   
    }

    /* section about*/
    .card input, textarea{
        width: 60%;
    }

    .card input, select{
        height: 30px;
    }

    .card input, select, textarea{
        border-color: cornflowerblue;
        border-style: none;
    }

    .card select{
        width: 60%;
    }

    .card textarea{
        min-height: 100px;
        max-height: 300px;
    }

    .card p{
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .centerabout {
        margin: auto;
        padding: 50px 0;
        width: 75%;
        text-align: center;
    }

    .tituloabout{
        text-align: center;
        padding-top: 20px;
    }

    /* pantalla preguntes*/
    .divpreguntes{
        text-align: center!important;
    }

    .textopregunta{
        padding: 40px;
        font-size: 40px;
    }

    #divrespostes{
        padding: 20px;
        text-align: center;
    }

    .resposta{
        border-color: black;
        border-style: solid;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top:15px;
        margin-bottom: 15px;
        border-radius: 15px;
        cursor: pointer;
    }

    .resposta:hover{
        background-color: grey;
        color: white;
    }

    
}


@media(max-width: 800px){

    /*
    .container-fluid{
        background-image: url("../img/prueba.jpg");
    }
    */

    .center {
        margin: auto;
        padding: 10px;
        width: 75%;
        text-align: center;
    }

    .imgcenter{
        margin-left: auto;
        margin-right: auto;
        height: 100%; 
        width:100%;
    }

    .text-main{
        font-size: 13px;
    }

    .container{
        margin-bottom: 20px;
    }

    #footer {
        text-align: center;
        width: 100%;
    }

    .text-main h2{
        font-size: 17px;
    }

    #imgranks{
        width:100%;
    }

    .textoimagencentrada{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right:10px ;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color: black;
        color: white;  
    }

    .element{
        padding: 10px;
    }

    .card input, textarea{
        width: 100%;
    }

    .card input, select{
        height: 30px;
    }

    .card input, select, textarea{
        border-color: cornflowerblue;
        border-style: none;
    }

    .card select{
        width: 100%;
    }

    .card textarea{
        min-height: 100px;
        max-height: 300px;
    }

    .card p{
        margin-bottom: 0;
        padding-top: 10px;
    }

}